{% extends 'app/baseTienda.html' %}

{% block contenido %}
{% load humanize %}
<br><br><br><br><br>
<div class="card">
    <div class="card-body">
        <h2>Listado de productos</h2>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Opciones</th>
        
            </tr>
        
            {% for p in productos %}
        
            <tr>
                <td>{{ p.nombre | title }}</td>
                <td>${{ p.precio | intcomma }}</td>
                <td>{{ p.marca | title }}</td>
                <td>{{ p.categoria | title }}</td>
                <td>
                    <a href="{% url 'app_tienda:modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                    <a href="{% url 'app_tienda:eliminar_producto' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        
        </table>
    </div>
</div>


{% endblock %}