{% extends 'app/baseTienda.html' %}

{% block js %}

    <script>
        function eliminarProducto(id){
            Swal.fire({
              "title":"¿Estas Seguro?",
              "text":"Esta accion no se puede deshacer",
              "icon":"question",
              "showCancelButton":true,
              "cancelButtonText":"No, Cancelar",
              "confirmButtonText":"Si, Eliminar",
              "reverseButtons":true,
              "confirmButtonColor":"#dc3545"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "/petstore/eliminar-producto/"+id+"/"
                }
            })
        }
    </script>

{% endblock %}

{% block contenido %}
{% load humanize %}
<br><br><br><br><br>
<div class="card">
    <div class="card-body">
        <h2>Listado de productos</h2>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Opciones</th>
        
            </tr>
        
            {% for p in entity %}
        
            <tr>
                <td>{{ p.nombre | title }}</td>
                <td>${{ p.precio | intcomma }}</td>
                <td>{{ p.marca | title }}</td>
                <td>{{ p.categoria | title }}</td>
                <td>
                    <a href="{% url 'app_tienda:modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                    &nbsp;
                    <a href="#" onclick="eliminarProducto({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% include 'app/paginator.html' %}
    </div>
</div>


{% endblock %}