{% extends 'app/colaboradores/dashboard_colaborador.html' %}

{% load static %}

{% load widget_tweaks %}

{% block titulo %}
<title>PetCare - Diagnostico</title>
{% endblock titulo %}

{% block dinamico %}
    <h1>Diagnóstico para la mascota: {{ agendamiento.mascota.nombre }}</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-12 text-center">
                {{ form.diagnostico }}
            </div>
        </div>
        <div class="text-center">
            <br>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
{% endblock dinamico %}






{% block js %}

{% endblock %}
    