*{
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#contenido{
    width: 80%;
    margin: auto;
    max-width: 1280px;
    min-height: 100vh;
    margin-top: 40px;
}

.header{
    background: #ffffff;
}

.nav-color{
    background-color: #f5a2a2;
}

.modal {
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .modal-body{
    padding: 0;
  }

.btn-close{
    position: absolute;
    right: 0;
    padding: 1em;
}
.form-area{
    padding: 3em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.5);
}
.form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 1px solid #fff;
    border-radius: 0;
  }
  .form-area .btn {
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    padding: 0.5em 0;
    border-radius: 50px;
}
.btn.btn-primary {
    padding: 15px 50px;
    font-family: alfa slab one;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 50px;
}
  .form-area .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
  }
  .form-area p {
    text-align: center;
    padding-top: 2em;
    color: #fff;
  }
  .form-area p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  .form-area p a:hover {
    color: #fff;
  }

  @media (max-width: 600px){
    .form-area{
        padding: 1.5em;
    }
    .form-area h1{
        font-size: 18px;
    }
  }



