{% extends 'app/user.html' %}

{% load widget_tweaks %}

{% block titulo %}
<title>PetCare - Editar Contraseña</title>
{% endblock titulo %}

{% block dinamico %}

{% if form.errors %}
  <div class="alert alert-danger">
    {% for field in form %}
      {% if field.errors %}
        <strong>{{ field.label }}</strong>
        <ul class="errorlist">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

<form method="POST" class="php-email-form">
    {% csrf_token %}
  
    <div class="form-group">
      <label for="id_old_password">Contraseña actual</label>
      <input type="password" name="old_password" id="id_old_password" class="form-control" required>
    </div>
  
    <div class="form-group">
      <label for="id_new_password1">Nueva contraseña</label>
      <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
    </div>
  
    <div class="form-group">
      <label for="id_new_password2">Confirmar nueva contraseña</label>
      <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
    </div>
  
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
    </div>
  </form>
  

{% endblock dinamico %}
    