{% extends 'app/user.html' %}

{% load widget_tweaks %}

{% block titulo %}
<title>PetCare - Tus Compras</title>
{% endblock titulo %}

{% block dinamico %}

{% if ordenes %}



  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Tus Compras Realizadas</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Número de Orden</th>
              <th>Estado</th>
              <th>Boleta</th>
              <th>Enviar por correo</th>
            </tr>
          </thead>
          <tbody>
            {% for orden in ordenes %}
              <tr>
                <!-- <td>{{ orden.id }}</td> -->
                <td>
                    <a href="#">{{ orden.ordernum }}</a>
                </td>
                <td>
                  {% if orden.status %}
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Seguimiento
                  </button>
                  {% else %}
                    <span class="text-success">Entregado</span>
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'app_tienda:generar_boleta' orden.id %}" class="btn btn-link"><i class="fas fa-file-download"></i></a>
                </td>
                <td>
                  <a href="{% url 'app_tienda:enviar_boleta_por_correo' orden_id=orden.id %}" class="btn btn-link">
                    <i class="fa-solid fa-envelope"></i>
                  </a>
                </td>
                
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% else %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>No tienes compras realizadas.</p>
      </div>
    </div>
  </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Seguimiento de Compra</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.077862948322!2d-70.66017472338552!3d-33.44727789735126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c507f91be917%3A0xcfac72a68dd4b986!2sDuoc%20UC%20-%20Sede%20Padre%20Alonso%20de%20Ovalle!5e0!3m2!1ses!2scl!4v1687471650588!5m2!1ses!2scl" width="100%" height="450" style="border:1px solid #ccc;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


{% endblock dinamico %}
    