{% extends 'app/user.html' %}

{% load widget_tweaks %}

{% block dinamico %}

<h2>Historico de tus consultas</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Fecha de Agendamiento</th>
                <th scope="col">Categoria</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta, fecha_agendamiento in fechas_agendamiento %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ fecha_agendamiento }}</td>
                <td>{{ consulta.categoria }}</td>
                <td>
                    <button class="btn"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn"><i class="bi bi-download"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock dinamico %}
    