{% extends 'app/base.html'  %}
{% load static %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block contenido %}

      <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Cuidando de tus mascotas como si fueran nuestras</h1>
          <h2>Encuentra todo lo que necesitas para el cuidado de tus mascotas en un solo lugar. Programa citas, consulta historial médico y compra productos. ¡Tu mascota merece lo mejor!</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Conocenos</a>
            <a href="https://www.youtube.com/watch?v=1jKI0G8ZSKM&ab_channel=MrFeverf" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Nuestra Clinica</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'app/img/hero-img2.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    
    {% comment %} <section id="clients" class="clients section-bg"> 
      <!-- ======= Clients Section ======= -->
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app/img/clients/DRAGPHARMA.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app/img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app/img/LogoPetCare.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app/img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app/img/clients/client-6.png' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section --> 
    {% endcomment %}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <p> Servicios veterinarios de alta calidad para cuidar la salud y bienestar de tu mascota en nuestra clínica.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-scissors"></i></div>
              <h4><a href="">Peluqueria</a></h4>
              <p>¡Cambia el look de tu mascota y hazla lucir fabulosa! Descubre nuestra amplia variedad de servicios de peluquería para mascotas.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-heart-pulse-fill"></i></div>
              <h4><a href="">Consulta Médica</a></h4>
              <p>¿Tu mascota necesita atención médica? Contamos con un equipo de profesionales altamente capacitados para ofrecerle la mejor atención. Descubre nuestros servicios de consulta médica y dale el cuidado que se merece.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-hospital"></i></div>
              <h4><a href="">Procedimientos Clínicos</a></h4>
              <p>En nuestra clínica veterinaria, trabajamos con dedicación y profesionalismo para ofrecer los mejores procedimientos clínicos a tu mascota. Descubre nuestros servicios y disfruta de la tranquilidad de saber que está en buenas manos.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shop"></i></div>
              <h4><a href="">PetStore</a></h4>
              <p>¡Haz feliz a tu mascota con nuestros productos de calidad! Descubre nuestra tienda para mascotas y encuentra todo lo que necesitas para su cuidado.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Agendamiento</h2>
      <p>No esperes a que tu mascota presente algún síntoma para llevarla a la consulta. Agenda hoy mismo una cita con nuestros veterinarios altamente capacitados y con amplia experiencia para asegurarte de que tu peludo amigo reciba la mejor atención posible. En nuestra clínica, creemos en la prevención y la detección temprana como la clave para una vida saludable y feliz para tus mascotas.</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Dirección:</h4>
            <p>Padre Alonso de Ovalle 1586, Santiago, Región Metropolitana</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Correo Electronico:</h4>
            <p>Clinica@petcare.cl</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefono:</h4>
            <p>+569 84611224</p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.07769115371!2d-70.66017472438098!3d-33.44728237339068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c507f91be917%3A0xcfac72a68dd4b986!2sDuoc%20UC%20-%20Sede%20Padre%20Alonso%20de%20Ovalle!5e0!3m2!1ses!2scl!4v1682380208178!5m2!1ses!2scl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Nombre</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Correo Electronico</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Asunto</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Mensaje</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Cargando</div>
            <div class="error-message"></div>
            <div class="sent-message">Tú Cita a sido agendada. Gracias!</div>
          </div>
          <div class="text-center"><button type="submit">Agendar</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Quienes Somos?</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              PetCare se enfoca en proporcionar la mejor atención y cuidado para las mascotas de sus clientes. Con una amplia variedad de servicios, tecnología avanzada y personal altamente capacitado, nos aseguramos de cumplir con los más altos estándares de calidad y satisfacción del cliente. Nuestra misión es mejorar la calidad de vida de las mascotas y sus dueños a través de una atención integral y personalizada.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> PetCare tiene como prioridad brindar una atención de alta calidad a las mascotas y sus dueños, lo que se logra mediante un enfoque en la prevención y el tratamiento de enfermedades y lesiones.</li>
              <li><i class="ri-check-double-line"></i> La plataforma de PetCare está diseñada para ser fácil de usar tanto para los dueños de mascotas como para los veterinarios. Se enfoca en proporcionar una experiencia fluida y agradable a través de la interfaz de usuario intuitiva y la integración de las últimas tecnologías.</li>
              <li><i class="ri-check-double-line"></i> PetCare entiende que cada mascota es única, y por lo tanto, cada tratamiento y plan de cuidado debe ser personalizado. Por eso, la plataforma ofrece una atención personalizada tanto en la selección de un veterinario como en la gestión de los tratamientos y registros médicos de las mascotas.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              En PetCare, nuestra misión es proporcionar la mejor atención posible para tus mascotas. 
              Nuestro equipo está compuesto por profesionales apasionados y altamente capacitados, dedicados a garantizar que tus mascotas reciban la atención y el amor que merecen. 
              Desde el primer día, nos hemos comprometido a brindar un servicio excepcional, 
              ofreciendo una amplia gama de servicios y tratamientos médicos para mantener a tu compañero peludo feliz y saludable. 
              ¡Gracias por confiar en nosotros para el cuidado de tus mascotas!
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->


{% endblock %}