{% extends 'app/user.html' %}

{% load widget_tweaks %}

{% block dinamico %}

<div class="text-center">
  <h2>Tus Mascotas</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Especie</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for mascota, edad in mascotas %}
      <tr>
        <td>{{ mascota.nombre }}</td>
        <td>{{ mascota.especie }}</td>
        <td>{{ edad }} años</td>
        <td>{{ mascota.get_sexo_display }}</td>
        <td>
          <a href="#"><i class="far fa-file-pdf"></i></a>
          <a href="{% url 'app_clinica:editar_mascota' mascota.id %}"><i class="far fa-edit"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="text-center">
  <a href="#" class="btn btn-primary"></i> Agregar Mascota</a>
</div>





{% endblock dinamico %}
    