{% extends 'app/baseSubPage.html'%}
{% load static %}

{% block titulo %}
<title>PetCare - Perfil</title>
{% endblock titulo %}

{% block contenido %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
        <br>
        <br>
          <div class="section-title">
            <h2>¡Bienvenido!</h2>
            <p>En nuestro sitio, puedes acceder al historial clínico de tu mascota y registrarla en nuestro sistema para un cuidado más efectivo y organizado. Mantén un control exhaustivo de su salud y programa citas veterinarias de manera conveniente. Ofrecemos una solución integral para el cuidado de tu mascota.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">

                <div class="phone" >
                 <a href="{% url 'app_clinica:editar_perfil' %}">
                  <i class="bi bi-phone"></i>
                  <h4>Tus datos</h4>
                  <p>Modifica tus datos</p>
                </a>
                </div>

                <div class="address" role="button" id="open-historial">
                  <a href="{% url 'app_clinica:historial_medico' %}">
                  <i class="bi bi-bookmark-plus"></i>
                  <h4>Historial Clinico</h4>
                  <p>Historial de tus mascotas</p>
                  </a>
                </div>
  
                <div class="email" role="button" id="open-mascotas">
                  <a href="{% url 'app_clinica:mascota_cliente' %}">
                  <i class="bi bi-balloon-heart-fill"></i>
                  <h4>Tús Mascotas</h4>
                  <p>Clinica@petcare.cl</p>
                  </a>
                </div>
                
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <div class="info">

                {% block dinamico %}

                <h1>Bienvenido! {{ user.first_name.title }} {{ user.last_name.title }}</h1>

                {% endblock %}

              </div>
            </div>

          </div>
        </div>
      </section><!-- End Contact Section -->

{% endblock %}

{% block js %}
    <script src="{% static 'app/js/global.js' %}"></script>
{% endblock %}